<script setup>
  import { useNotificationHeaderMessageStore } from '@/stores/notifications'
  import Notification from './components/header_message/Notification.vue'
  import { storeToRefs } from 'pinia'

  // Load the latest notification
  const store = useNotificationHeaderMessageStore()
  const { collectionMetaData, collection } = storeToRefs(store)
  store.loadChannel(1)
</script>
<template>
  <Notification
    v-if="collectionMetaData.total_entries"
    :notification="collection[0]"
  />
</template>
