{{#if label}}
	{{#if required}}
<label for="{{tagId}}" class="required" aria-label="Champ obligatoire">
    {{else}}
<label for="{{tagId}}">
    {{/if}}
    <svg class="error"><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
    {{label}}
    {{#if required}}
    <span class="icon required"><svg><use href="/static/icons/endi.svg#required"></use></svg><span> Obligatoire</span></span> 
    {{/if}}
</label>
{{/if}}
<select
        id="{{tagId}}"
        {{#if multiple}}multiple{{/if}}
        name='{{field_name}}'
        {{#unless editable}}disabled{{/unless}}
        placeholder='{{ placeholder }}'
        aria-label='{{ ariaLabel }}'
        title='{{title}}'
        >
    {{#each options}}
    <option value='{{lookup this ../id_key }}' {{#if selected}}selected{{/if}}>{{lookup this ../label_key}}</option>
    {{/each}}
</select>
{{#if description}}
<span class='help-block'>{{ description }}</span>
{{/if}}
