<div class="layout flex">
  {{#if has_price_study}}
    <div class="total-material"></div>
    <div class="total-labor"></div>
    {{#if has_contribution}}
      <div class="total-contribution"></div>
    {{/if}}
  {{/if}}
  <div class="totals"></div>
</div>