<%namespace file="/base/utils.mako" name="utils" />
% for indicator in indicators:
${request.layout_manager.render_panel('sale_file_requirement', context=indicator, file_add_url=file_add_url)}
% endfor
