<script setup>
  import { ref } from 'vue'
  import { storeToRefs } from 'pinia'

  import { useCustomerStore, useCustomerConfigStore } from '@/stores/customer'
  import { useConstStore } from '@/stores/const'
  import FormFlatLayout from '@/layouts/FormFlatLayout.vue'

  import CustomerForm from './CustomerForm.vue'

  // props attendu par le composant
  const props = defineProps({
    edit: { type: Boolean, default: false },
    customerId: { type: Number || null, default: null },
    url: { type: String, required: true },
    formConfigUrl: { type: String, required: true },
    layout: { type: Object, default: FormFlatLayout },
  })
  const emit = defineEmits(['saved', 'cancel'])

  const isEdit = !!props.customerId

  const formConfigStore = useCustomerConfigStore()
  formConfigStore.setUrl(props.formConfigUrl)

  const customerStore = useCustomerStore()
  customerStore.setUrl(props.url)

  const constStore = useConstStore()

  const loading = ref(true)

  const preload = async () => {
    const promises = [
      constStore.loadConst('countries'),
      formConfigStore.loadConfig(),
    ]

    if (isEdit) {
      promises.push(customerStore.load())
    }
    Promise.all(promises).then(() => (loading.value = false))
  }
  preload()
  let customer
  if (isEdit) {
    const { item } = storeToRefs(customerStore)
    customer = item
  } else {
    customer = ref({})
  }

  function onSaved(item) {
    console.log('Customer saved')
    emit('saved', item)
  }
  function onCancel() {
    console.log('Cancel Customer add/edit')
    emit('cancel')
  }
</script>
<template>
  <div v-if="loading">Chargement des informations</div>
  <CustomerForm
    v-else
    :customer="customer"
    @saved="onSaved"
    @cancel="onCancel"
    :layout="layout"
  />
</template>
