{{#if has_preview}}
    <td class="col_status clickable"
        title="Cliquer pour prévisualiser {{{file_name}}}"
        aria-label="Cliquer pour prévisualiser {{{file_name}}}"
    >
        <span class='icon status {{status}}'>
            <svg><use href="/static/icons/endi.svg#{{ status }}"></use></svg>
        </span>
    </td>
    <td class='col_text clickable'
            title="Cliquer pour prévisualiser {{{file_name}}}"
            aria-label="Cliquer pour prévisualiser {{{file_name}}}"
    >
        <a href="#">{{{ label }}}</a>
    </td>
    <td class="col_text clickable"
        title="Cliquer pour prévisualiser {{{file_name}}}"
        aria-label="Cliquer pour prévisualiser {{{file_name}}}"
    >
        <a href="#">{{file_name}}</a>
    </td>
{{else}}
    <td class="col_status">
        <span class='icon status {{status}}'>
            <svg><use href="/static/icons/endi.svg#{{ status }}"></use></svg>
        </span>
    </td>
    <td class='col_text'>{{{ label }}}</td>
    <td class="col_text">{{file_name}}</td>
{{/if}}
{{#if has_valid_link}}
<td class="col_actions width_three">
{{else}}
<td class="col_actions width_two">
{{/if}}
	{{#if has_edit}}
    <button type="button" class='btn icon only btn-edit' title="Modifier le fichier" aria-label="Modifier le fichier">
        <svg><use href="/static/icons/endi.svg#pen"></use></svg>
    </button>
    {{/if}}
    {{# if has_preview }}
    <button type="button" class='btn icon only btn-view' title="Voir le fichier" aria-label="Voir le fichier">
		<svg><use href="/static/icons/endi.svg#eye"></use></svg>
	</button>
	{{/if}}
	{{#if has_add}}
	<button type="button" class='btn icon only btn-add' title="Ajouter un fichier" aria-label="Ajouter un fichier">
		<svg><use href="/static/icons/endi.svg#paperclip"></use></svg>
	</button>
	{{/if}}
	{{#if has_valid_link}}
	<button type="button" class='btn icon only btn-validate' title="Valider le fichier fourni ?" aria-label="Valider le fichier fourni ?">
		<svg><use href="/static/icons/endi.svg#check"></use></svg>
	</button>
	{{/if}}
</td>
